body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h1 {
    white-space: normal;
}
.call-button{
    visibility: hidden;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    background-color: #FFCC00;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.rounded-bottom-heavy {
    border-bottom-right-radius: 1.5rem!important;
    border-bottom-left-radius: 1.5rem!important
}
.card-text-2 {
    font-size: 0.76em;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin-right: 4px;
    margin-left: 4px;
    border: none;
    border-radius: 4em;
    background-color: #FFCC00;
}
/*form .form-group, form .form-control{
    height: 100%;
    border-radius: 1em;
}*/
.tight {
    margin-bottom: 0em;
}
.he100 {
    height: 100%;
    border-radius: 1em;
}
.rounded-card-heavy {
    border-bottom-right-radius: 3rem!important;
    border-bottom-left-radius: 3rem!important;
    border-top-right-radius: 3rem!important;
    border-top-left-radius: 3rem!important;
}
.mt {
    margin-top: -1.3em;
}
.btn-mb {
    margin-bottom: -3;
}
.yellow-text {
    color: #FFCC00
}
.card-2 {
    border-bottom-right-radius: 0.6rem!important;
    border-bottom-left-radius: 0.6rem!important;
    border-top-right-radius: 0.6rem!important;
    border-top-left-radius: 0.6rem!important;
}
.card .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-shadow {
    box-shadow: 0px 0px 5px 0px #FFCC00 ;
}
.btn-gray-shadow {
    box-shadow: 0px 0px 10px 0px #404040
}
.btn-yellow {
    background-color: #FFCC00;
}
.gray-shadow {
    box-shadow: 0px 0px 30px 0px #404040
}
.yellow-shadow {
    box-shadow: 0px 0px 30px 0px #FFCC00
}
.text-big {
    font-size: 3.3rem;
}
.text-size-medium {
    font-size: 2rem;
}
.text-size-6 {
    font-size: 4.5rem;
}
.text-yellow {
    color: #FFCC00;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination-bullet-active {
    background-color: #FFCC00 !important    
}
.text-break {
    word-wrap: break-word;
}
#accordion .card {
    margin: 1.5em 0em 1.5em 0em;
    border-radius: 1em;
}
#accordion .card-header {
    border-radius: 1em;
}
@media (min-width: 640px) {
    #accordion, .faq-form {
        padding: 0em 1em 0em 1em;
    }
}
.btn-link {
    color: black;
    text-decoration: none;
}
.btn-link:hover{
    color: black;
}
.rounded-2 {
    border-radius: 1em;
}
.bg-warning .text-dark {
    font-weight: bold;
    border-radius: 1em;
}

#roadmapWrapper {
    position: relative;

}
.callback {
    margin-top: 3em;
}
.hw .card {
    background: none;
    border: none;
}
.slider1 .carousel-inner{
    background-image: url("../img/slider_bg1.jpg");
    background-size: 100% 100%;
}
@media (min-width: 993px) {
    .callback {
        position: absolute;
        width: 19em;
        right: 4em;
        bottom: 4em;
    }
}
.nav-link {
    color: black;
    border-top-left-radius: 1em !important;
    border-top-right-radius: 1em !important;
}
.nav-link:hover{
    color: black;

}
/*.btn-sel {
    margin: 0em .5em 0em .5em;
}*/
.transparent-button {
    background: none;
    border: none;
}
.transparent-button:hover{
    border-radius: 1em;
}
.transparent-button.active {
    background: #FFCC00;
}
/*.btn-group {
    width: 100%; 
    border: .5px solid lightgray; 
    border-radius: 1em;
}
*/
.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
    border-radius: 1em;
}
.btn-group > .btn:last-child {
    border-radius: 1em;
}
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #FFCC00;
    background-color: #FFCC00;
}

.card {
    margin-bottom: 1em;
}

.calc-letter-cont {
    position: relative;
}
.calc-letter-wrapper {
    position: absolute;
    margin-bottom: 2em;
    border-radius: 0.5em;
    height: 15em;
    background: transparent;
}
.calc-letter-wrapper.dark {
    background:  transparent;
    width: 80.2%;
}
.calc-letter-wrapper svg {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.roadmap-image {
    position: relative;
}

.circle {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    height: 100px;
    width: 100px;
}
.contact-box {
    position: absolute;
    right: 10em;
    margin-top: -23em;
    vertical-align: center;
}
.contact-box p {
    margin-top: 1em;
    font-size: 1em;
    height: 100%;
}
.icon-bg {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
    margin-left: -0.5em;
}
.icon-bg .img-fluid {
    height: 100%;
    width: auto;
}
#roadmapBig .circle {
    width: 12%;
    height: 12%;
}
.roadmap-big .circle1 { 
    top: 17.4%;
    left: 2.8%; 
}
.roadmap-big .circle2 { 
    top: 16%;
    left: 43.8%; 
}
.roadmap-big .circle3 { 
    top: 11.9%;
    left: 81.3%; 
}
.roadmap-big .circle4 { 
    top: 36%;
    left: 80%; 
}
.roadmap-big .circle5 { 
    top: 41.6%;
    left: 39.3%;
}
.roadmap-big .circle6 { 
    top: 52.7%;
    left: 6%; 
}
.roadmap-big .circle7 { 
    top: 85.7%;
    left: 10.7%; 
}
/*.roadmap-small .circle {
    width: 33.7%;
    height: 17.9%;
}

.roadmap-small .circle1 {
    top: 0.2%;
    left: 0.5%;
}

.roadmap-small .circle2 {
    top: 13.9%;
    left: 65.7%;
}

.roadmap-small .circle3 {
    top: 27.6%;
    left: 0.3%;
}

.roadmap-small .circle4 {
    top: 41.3%;
    left: 64.5%;
}

.roadmap-small .circle5 {
    top: 54.9%;
    left: 0.4%;
}

.roadmap-small .circle6 {
    top: 68.4%;
    left: 63.6%;
}

.roadmap-small .circle7 {
    top: 81.9%;
    left: 0.4%;
}*/

.card button{
    text-align: left;
}
.card-body {
    padding-bottom: 0em;
}
.let-cards .card-body .row {
    margin-bottom: -1em;
    margin-top: -1em;
}

.box {
    position: absolute;
    width: 20em;
    padding: 1em;
    border-radius: 0.5em;
    margin-top: -10em;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.5em;
    z-index: 99999;
}

.box__in {
    border-left: 0.5em solid #ffc107;
    padding-left: 1em;
}
.shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  }


/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    h1 {
        font-size: 2em !important;
    }
    h2 {
        font-size: 1em !important;
    }
    h4 {
        font-size: 1em;
    }
    .call-button {
        visibility: visible;
    }
    .p-small {
        font-size: 0.9em;
    }
    .text-big {
        font-size: 1.6em !important;
    }
    .ad-cards .col-sm-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-6 .text-big {
        text-align: right;
    }
    .col-6 .pt-3 {
        text-align: left;
    }
    .let-cards .col-sm-4 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .let-cards .col-sm-4 .img-fluid {
        width: 60% !important;
    }
    .btn-group {
        display: none;
    }
    .btn-group-vertical {
        display: inline;
    }
    .btn-sel {
        margin: 0em;
    }
    .container .hardware .col-sm-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .faq-form .col-sm-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 1em;
    }
    .navbar-brand {
        margin-right: 0;
    }
    .logo {
        align-content: center;
        width: 80%;
    }
    .slogan {
        display: none;
    }
    .copyright-in {
        text-align: center !important;
    }
    .copyright {
        margin-bottom: -2em;
        text-align: center !important;
    }
    .calc-letter-cont {
        max-width: 100%;
        height: 15em;
    }
    .calc-letter-wrapper.dark {
        width: 64%;
        padding-left: 0.4em
    }
    .calc-letter-wrapper {
        width: 78.9%;
        padding-left: 1em
    }
    .roadmap-big {
        display: none;
    }
    .phone-number {
        display: none;
    }
    
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 2em !important;
    }
    h2 {
        font-size: 1em !important;
    }
    h3 {
        font-size: 1.2em !important;
    }
    h4 {
        font-size: 1em;
    }
    .text-big {
        font-size: 1.9em !important;
    }
    .row .col-6 .pt-3 {
        text-align: left;
    }
    .ad-cards .col-sm-4 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .let-cards .col-sm-4 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .let-cards .col-sm-4 .img-fluid {
        width: 70% !important 
    }
    .btn-group {
        display: inline-flex;
    }
    .btn-group-vertical {
        display: none;
    }
    .faq-form .col-sm-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 1em;
    }
    .calc-letter-wrapper {
        background:  transparent;
        width: 50%;
        padding-left: 0.54em;
    }
    .calc-letter-wrapper.dark {
        background:  transparent;
        width: 40%;
        padding-left: 0em;
    }
    .roadmap-big {
        display: none;
    }


}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    h2 {
        font-size: 1.5em !important;
    }
    h3 {
        font-size: 1.2em !important;
    }
    h4 {
        font-size: 0.9em !important;
    }
    .text-big {
        font-size: 1.6em !important;
    }
    .text-size-medium {
        font-size: 1.8em !important;
    }
    .btn-group {
        display: inline-flex;
    }
    .btn-group-vertical {
        display: none;
    }
    p {
        font-size: .7em !important;
    }
    .calc-letter-wrapper.dark {
        background:  transparent;
        width: 76%;
    }
    .roadmap-small {
        display: none;
    }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
    h4 {
        font-size: 1.2em !important;
    }
    .btn-group {
        display: inline-flex;
    }
    .btn-group-vertical {
        display: none;
    }
    .roadmap-small {
        display: none;
    }
}
